
<ion-content>
  <ion-list style="margin: 5%;">
    <h1 style="text-align: center;">{{data.name}}         <ion-icon (click)="updatedevname(data)" style="position: absolute; color: gray;" *ngIf="edit" slot="end" name="brush"></ion-icon>
    </h1>
      <ion-item *ngFor="let dev of cihazlar">
        <ion-label>{{dev.data.name}}</ion-label>
        <ion-icon *ngIf="edit" slot="end" name="close-circle" (click)="deldev(dev)"  ></ion-icon>
      </ion-item>


      <ion-row style="width: 100%;">
        <ion-col>
          <ion-button shape="round" expand="block" color="danger">Sil</ion-button>

        </ion-col>

        <ion-col>
          <ion-button (click)="editdev()" shape="round" expand="block" color="warning">Düzenle</ion-button>

        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>
